<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Edit Order</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'rentcoder/css/bootstrap.css' %}">
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="col">
                <a class="navbar-brand" href="/">
                    <img src="{% static 'rentcoder/img/ninja.png' %}" width="30" height="30" class="d-inline-block align-top" alt="Coders On Demand logo">
                    Coders On Demand - Admin Dashboard
                </a>
            </div>
            <div class="col">
                <ul class="navbar-nav justify-content-end">
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Logout</a>
                    </li>
                </ul>
            </div>
        </nav>
        <hr>
        <div id="admin_dash_body">
            <h3>Administrator: {{user.first_name}}</h3>
            <h5>Edit Order Information</h5>
                {% if messages %}
                    <div class="error_box">
                        {% for message in messages %}
                            {% if message.tags == 'error' %}
                                <div class="alert alert-danger" role="alert">
                                    <p id="reg_alert" class="{{message.tags}}">{{message}}</p>
                                </div>
                            {% endif %}
                            {% if message.tags == 'success' %}
                                <div class="alert alert-danger" role="alert">
                                    <p id="reg_alert" class="{{message.tags}}">{{message}}</p>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
            <form action="/edit/orders/{{order.id}}" method="POST">
                {% csrf_token %}
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label class="col-form-label" for="exam">Exam:</label>
                        <input type="text" class="form-control" name="exam" value="{{order.exam_topic}}">
                    </div>
                    <div class="form-group col-md-6">
                        <label class="col-form-label" for="date">Date:</label>
                        <select name="date" class="form-control">
                            <option value="January 26, 2018" {% if order.date == "January 26, 2018" %}selected = "selected"{% endif %}>Jan 26 Exam Date</option>
                            <option value="February 23, 2018" {% if order.date == "February 23, 2018" %}selected = "selected"{% endif %}>Feb 23 Exam Date</option>
                            <option value="March 23, 2018" {% if order.date == "March 23, 2018" %}selected = "selected"{% endif %}>Mar 23 Exam Date</option>
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label class="col-form-label" for="coder">Coder:</label>
                        <select name="coder" class="form-control">
                            {% for coder in all_coders %}
                                <option value="{{coder.id}}" {% if order.coder.id == coder.id %}selected = "selected"{% endif %}>{{coder.alias}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="col-form-label" for="alias">Alias:</label>
                        <input type="text" class="form-control" name="alias" value="{{coder.alias}}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-form-label" for="user">User:</label>
                    <select name="user" class="form-control">
                        {% for user in all_users %}
                            <option value="{{user.id}}" {% if order.user.id == user.id %}selected = "selected"{% endif %}>{{user.first_name}} {{user.last_name}}</option>
                        {% endfor %}
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Update</button>
            </form>
        </div>
    </div>
</body>
</html>

