<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Coders On Demand - Admin Dashboard</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'rentcoder/css/bootstrap.css' %}">
</head>
<body>
    <div id="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="col">
                <a class="navbar-brand" href="/">
                    <img src="{% static 'rentcoder/img/ninja.png' %}" width="30" height="30" class="d-inline-block align-top" alt="Coders On Demand logo">
                    Coders On Demand - Admin Dashboard
                </a>
            </div>
            <div class="col">
                <ul class="navbar-nav justify-content-end">
                    <li class="nav-item">
                        <a class="nav-link" href="/dashboard/{{user.id}}">User Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Logout</a>
                    </li>
                </ul>
            </div>
        </nav>
        </div>
        <div id="main_body">
            <h2>Manage Users, {{user.first_name}}</h2>
        </div>
        <div id="menu_bar">
            <button class="menu_button">Users</button>
            <a href="/home/admin/coders"><button class="menu_button">Coders</button></a>
            <a href="/home/admin/orders"><button class="menu_button">Orders</button></a>
        </div>
        <div id="table">
            <table>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Created</th>
                    <th>User Level</th>
                    <th>Actions</th>
                </tr>
                {% for user in all_users %}
                    <tr>
                        <td>{{user.id}}</td>
                        <td><a href="/dashboard/{{user.id}}">{{user.first_name}} {{user.last_name}}</a></td>
                        <td>{{user.email}}</td>
                        <td>{{user.created_at}}</td>
                        {% if user.admin == True %}
                        <td>Admin</td>
                        {% endif %}
                        {% if user.admin == False %}
                        <td>User</td>
                        {% endif %}
                        <td><a href="/edit/user/{{user.id}}">Edit</a> <a href="/users/remove/{{user.id}}">Remove</a></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</body>
</html>