<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Coders On Demand - Checkout</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'rentcoder/css/bootstrap.css' %}">
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="col">
                <a class="navbar-brand" href="/">
                    <img src="{% static 'rentcoder/img/ninja.png' %}" width="30" height="30" class="d-inline-block align-top" alt="">
                    Coders On Demand
                </a>
            </div>
            <div class="col">
                <ul class="navbar-nav justify-content-end">
                    <li class="nav-item active">
                        <a class="nav-link" href="/logout">Logout</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div id="checkout_section">
            <form action="/charge" method="POST">
                <script
                src="https://checkout.stripe.com/checkout.js"
                class="stripe-button"
                data-key="pk_test_6pRNASCoBOKtIshFeQd4XMUh"
                data-image="/square-image.png"
                data-name="Demo Site"
                data-description="2 widgets ($20.00)"
                data-amount="2000">
                </script>
            </form>
        </div>
        <hr>
        <div class="footer">
            <p>© Company 2017</p>
        </div>
    </div>
</body>
</html>