<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Checkout</title>
    {% load static %}
    <!-- <link rel="stylesheet" href="{% static 'rentcoder/css/login_style.css' %}"> -->
    <link rel="stylesheet" href="../../static/rentcoder/css/login_style.css">
</head>
<body>
    <div id="wrapper">
        <div id="header">
            <a href="/dashboard/{{user.id}}">Dashboard</a>
        </div>
        
    </div>
    <form action="/charge" method="POST">
        <script
          src="https://checkout.stripe.com/checkout.js"
          class="stripe-button"
          data-key="pk_test_6pRNASCoBOKtIshFeQd4XMUh"
          data-image="{% static 'rentcoder/img/ninja.png' %}"
          data-name="Demo Site"
          data-description="1 Black Belt ($199.99)"
          data-amount="2000">
        </script>
    </form>
</body>
</html>