<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Coders On Demand</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'rentcoder/css/bootstrap.css' %}">
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="col">
                <a class="navbar-brand" href="/">
                    <img src="{% static 'rentcoder/img/ninja.png' %}" width="30" height="30" class="d-inline-block align-top" alt="">
                    Coders On Demand
                </a>
            </div>
            <div class="col">
                <ul class="navbar-nav justify-content-end">
                    <li class="nav-item">
                        <a class="nav-link" href="/register">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#login">Log In</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="jumbotron">
            <div class="container">
                <h1 class="display-3 text-center">Coders. On Demand!</h1>
                <p class="lead text-center">Tired of failing your Coding Dojo belt exams? Can't wait to start the next stack? Coders On Demand to the rescue!</p>
                <p class="lead text-center">
                    <a class="btn btn-primary btn-lg" 
                    href="
                    {% if request.session.id %}
                        /dashboard/{{request.session.id}}
                    {% else %}
                        #login
                    {% endif %}"
                    role="button">Hire Now!</a>
                </p>
            </div>
        </div>
        <hr>
        <div id="how_it_works">
            <h2 class="text-center" id="how_it_works_line"><u>How it works</u></h2>
            <div class="card-deck">
                <div class="card">
                    <img class="card-img-top" src="{% static 'rentcoder/img/programmer.png' %}" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">Browse</h4>
                        <p class="card-text">Select a belt exam you want it aced and browse profiles of our talented coders</p>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="{% static 'rentcoder/img/stripe_logo.png' %}" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">Pay</h4>
                        <p class="card-text">Make secure payments through Stripe's popular payment processing platform</p>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="{% static 'rentcoder/img/black_belt.png' %}" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">Work</h4>
                        <p class="card-text">Provide your hired gun with exam information, then relax, and see your exam ACED!</p>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div id="login">
            <h3>Login</h3>
            {% if messages %}
                {% for message in messages %}
                    {% if message.tags == 'warning' %}
                        <div class="alert alert-error">
                            <p class="{{message.tags}}">{{message}}</p>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
            <form action="/process/login" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label class="col-form-label" for="user_input">Email / Username:</label>
                    <input type="text" class="form-control" name="user_input" placeholder="Email">
                </div>
                <div class="form-group">
                    <label class="col-form-label" for="password">Password:</label>
                    <input type="password" class="form-control" name="password" placeholder="Password">
                </div>
                <button type="submit" class="btn btn-primary">Log in</button>
            </form>
            <a id="link_2_reg" href="/register">Don't have an account? Register here.</a>
        </div>
        <hr>
        <div class="footer">
            <p>© Company 2017</p>
        </div>
    </div>
</body>
</html>